In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [2]:
dtst=pd.read_csv("C:/Users/PARCHU/Downloads/diabetes.csv")

In [3]:
dtst

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [4]:
train,test=train_test_split(dtst,test_size=0.3)
trainx=train.iloc[:,0:8]
trainy=train.iloc[:,8]
testx=test.iloc[:,0:8]
testy=test.iloc[:,8]

In [5]:
trainx

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
247,0,165,90,33,680,52.3,0.427,23
514,3,99,54,19,86,25.6,0.154,24
693,7,129,68,49,125,38.5,0.439,43
52,5,88,66,21,23,24.4,0.342,30
483,0,84,82,31,125,38.2,0.233,23
...,...,...,...,...,...,...,...,...
625,4,90,88,47,54,37.7,0.362,29
151,4,114,65,0,0,21.9,0.432,37
27,1,97,66,15,140,23.2,0.487,22
599,1,109,38,18,120,23.1,0.407,26
493,4,125,70,18,122,28.9,1.144,45

In [6]:
trainy

247    0
514    0
693    1
52     0
483    0
      ..
625    0
151    0
27     0
599    0
493    1
Name: Outcome, Length: 537, dtype: int64

In [7]:
mdl0=SVC(kernel='linear')
mdl0.fit(trainx,trainy)
prd=mdl0.predict(testx)
acc0=np.mean(prd==testy)

In [8]:
acc0

0.7532467532467533

In [9]:
mdl1=SVC(kernel='poly')
mdl1.fit(trainx,trainy)
prd=mdl1.predict(testx)
acc1=np.mean(prd==testy)

In [10]:
acc1

0.7402597402597403

In [11]:
mdl2=SVC(kernel='rbf')
mdl2.fit(trainx,trainy)
prd=mdl2.predict(testx)
acc2=np.mean(prd==testy)

In [12]:
acc2

0.7316017316017316

In [13]:
mdl3=SVC(kernel='sigmoid')
mdl3.fit(trainx,trainy)
prd=mdl3.predict(testx)
acc3=np.mean(prd==testy)

In [14]:
acc3

0.4805194805194805