In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
import matplotlib.pyplot as plt

In [2]:
dtst=pd.read_csv("C:/Users/PARCHU/Downloads/diabetes.csv")

In [3]:
dtst

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [4]:
train,test=train_test_split(dtst,test_size=0.3)
trainx=train.iloc[:,0:8]
trainy=train.iloc[:,8]
testx=test.iloc[:,0:8]
testy=test.iloc[:,8]

In [5]:
trainx

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
253,0,86,68,32,0,35.8,0.238,25
754,8,154,78,32,0,32.4,0.443,45
570,3,78,70,0,0,32.5,0.270,39
208,1,96,64,27,87,33.2,0.289,21
588,3,176,86,27,156,33.3,1.154,52
...,...,...,...,...,...,...,...,...
140,3,128,78,0,0,21.1,0.268,55
399,3,193,70,31,0,34.9,0.241,25
709,2,93,64,32,160,38.0,0.674,23
661,1,199,76,43,0,42.9,1.394,22
35,4,103,60,33,192,24.0,0.966,33

In [6]:
trainy

253    0
754    1
570    0
208    0
588    1
      ..
140    0
399    1
709    1
661    1
35     0
Name: Outcome, Length: 537, dtype: int64

In [8]:
rgrsr=LinearRegression()
rgrsr.fit(trainx,trainy)
prd=rgrsr.predict(testx)
score=r2_score(testy,prd)
score

0.26744642252397033