In [34]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score,confusion_matrix

In [35]:
dtst=pd.read_csv("C:/Users/PARCHU/Downloads/kc_house_data.csv")

In [36]:
dtst

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [37]:
dtst.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [38]:
train,test=train_test_split(dtst,test_size=0.3)
trainx=train.iloc[:,3:21]
trainy=train.iloc[:,2]
testx=test.iloc[:,3:21]
testy=test.iloc[:,2]

In [39]:

trainx

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
19197,4,2.50,3200,7282,2.0,0,0,3,9,3200,0,2007,0,98188,47.4318,-122.286,3030,7290
8108,2,2.00,1960,4018,1.0,0,0,5,7,980,980,1950,0,98108,47.5629,-122.320,1240,4641
16502,2,2.25,1610,1968,2.0,0,0,5,7,1610,0,1979,0,98056,47.5184,-122.196,1950,1968
4792,4,2.00,1760,4500,1.5,0,0,5,7,1760,0,1906,0,98103,47.6711,-122.331,1740,4220
3276,3,2.25,2090,9163,1.0,0,0,3,7,1460,630,1975,0,98034,47.7334,-122.167,1960,7713
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6652,3,2.75,2370,4632,2.0,0,0,3,7,2370,0,2002,0,98038,47.3794,-122.022,2290,5012
1028,3,1.75,1490,6930,1.0,0,0,4,7,1490,0,1990,0,98030,47.3682,-122.179,1880,6861
18037,2,0.75,840,40642,1.0,1,4,4,6,840,0,1937,0,98070,47.4040,-122.447,1850,64069
6975,4,2.25,2170,8240,2.0,0,1,4,8,2170,0,1983,0,98006,47.5634,-122.128,2600,9898
7794,5,2.50,2720,5000,1.5,0,0,4,7,1530,1190,1939,0,98117,47.6827,-122.376,1210,5000

In [40]:
trainy

19197    360000.0
8108     395000.0
16502    305000.0
4792     720000.0
3276     456500.0
           ...
6652     350000.0
1028     245000.0
18037    528000.0
6975     648000.0
7794     580000.0
Name: price, Length: 15129, dtype: float64

In [41]:
lr=LinearRegression()
lr.fit(trainx,trainy)
prd=lr.predict(testx)
acc=r2_score(prd,testy)

In [42]:
#cm=confusion_matrix(prd,testy)

ValueError: Classification metrics can't handle a mix of continuous and multiclass targets

In [33]:
acc

0.513075638500798